<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav>
        <a th:href="@{/inicio}">Inicio</a>
        <a th:href="@{/perfil_usuario}">Mi perfil</a>
        <form th:action="@{/crear_post}" method="get" style="display:inline;">
            <input type="hidden" name="nombreUsuario" th:value="${usuario.nombreUsuario}" />
            <button type="submit">Crear post</button>
        </form>

    </nav>

    <form>
        <input name="nombreUsuario" type="text" placeholder="Nombre de usuario"/>
        <button>Buscar por nombre</button>
        <input name="texto" type="text" placeholder="Contenido">
        <button>Buscar por contenido</button>
        <input name="fecha" type="text" placeholder="Fecha">
        <button>Buscar por fecha</button>
    </form>
</body>
</html>