<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav>
        <a th:href="@{/inicio(nombreUsuario=${usuario?.nombreUsuario})}">Inicio</a>
        <a th:href="@{/perfil(nombreUsuario=${usuario.nombreUsuario})}">Mi perfil</a>
        <form th:action="@{/crear_post}" method="get" style="display:inline;">
            <input type="hidden" name="nombreUsuario" th:value="${usuario.nombreUsuario}" />
            <button type="submit">Crear post</button>
        </form>
        <form th:action="@{/logout}" method="get">
            <button type="submit">Cerrar sesión</button>
        </form>
    </nav>

    <form>
        <input name="nombreUsuario" type="text" placeholder="Nombre de usuario"/>
        <button>Buscar</button>
        <br>
        <input name="texto" type="text" placeholder="Contenido">
        <button>Buscar</button>
        <br>
        <input name="fecha" type="text" placeholder="Fecha">
        <button>Buscar</button>
        <br>
        <button>Fecha ascendente</button>
        <button>Fecha descendente</button>
        <br>
    </form>
</body>
</html>