<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
    <div th:replace="~{/fragments/nav}"></div>
    <h3>Estos son los posts de <span th:text="${usuario.nombreUsuario}"></span></h3>
    <div th:each="post : ${posts}">
        <p th:text="${post.texto}"><br></p>
        <p th:text="${usuario.nombreUsuario}"></p>
        <p th:text="${post.fecha}"></p>
        <button>Repostear</button>
        <button>Me gusta</button>
    </div>
</body>
</html>